<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="hu.modeldriven.astah-llm-documenter.actionSet">
         <menu
               id="astah-llm-documenter"
               label="%menu_group"
               path="tool/astah-llm-documenter">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="hu.modeldriven.astah.llmdocumenter.plugin.GenerateDocumentAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/astah-llm-documenter/"
               id="astah-llm-documenter">
         </action>
     </actionSet>
   </extension>
</plugin>
